### In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. You must use Pandas to answer the following questions:

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('adult.data.csv')

In [ ]:
pd.DataFrame(data= df['race'].value_counts())

                     race
White               27816
Black                3124
Asian-Pac-Islander   1039
Amer-Indian-Eskimo    311
Other                 271


Identify the most popular occupation for those who earn >50K in India.

In [ ]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

What is the average age of men?

In [ ]:
round(df[df['sex'] == 'Male']['age'].mean(),2)

39.43

What is the percentage of people who have a Bachelor's degree?

In [ ]:
df['education'].value_counts(normalize= True).loc['Bachelors'].round(2)

0.16

In [ ]:
  # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]['salary'].value_counts(normalize=True).loc['>50K'].round(2)

0.47

In [ ]:
# What percentage of people without advanced education make more than 50K?

df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]['salary'].value_counts(normalize=True).loc['>50K'].round(2)

0.17

In [ ]:
  # What is the minimum number of hours a person works per week (hours-per-week feature)?

df['hours-per-week'].min()

1

In [ ]:
 # What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df['salary'] == '>50K'][['native-country', 'salary']].value_counts()

In [ ]:
highest_earning_country

native-country      salary
United-States       >50K      7171
?                   >50K       146
Philippines         >50K        61
Germany             >50K        44
India               >50K        40
Canada              >50K        39
Mexico              >50K        33
England             >50K        30
Italy               >50K        25
Cuba                >50K        25
Japan               >50K        24
China               >50K        20
Taiwan              >50K        20
Iran                >50K        18
South               >50K        16
Poland              >50K        12
France              >50K        12
Puerto-Rico         >50K        12
Jamaica             >50K        10
El-Salvador         >50K         9
Greece              >50K         8
Cambodia            >50K         7
Yugoslavia          >50K         6
Hong                >50K         6
Ireland             >50K         5
Vietnam             >50K         5
Ecuador             >50K         4
Haiti               >50K         4
Portugal            >50K         4
Scotland            >50K         3
Thailand            >50K         3
Hungary             >50K         3
Guatemala           >50K         3
Laos                >50K         2
Dominican-Republic  >50K         2
Peru                >50K         2
Trinadad&Tobago     >50K         2
Columbia            >50K         2
Nicaragua           >50K         2
Honduras            >50K         1
dtype: int64

In [ ]:
higher_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]

In [ ]:
higher_education['salary'].value_counts(normalize=True).loc['>50K'].round(2)

0.47

In [ ]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [ ]:
num_min_workers=df[(df['hours-per-week'] >= 40) & (df['salary'] == '>50K')]
num_min_workers.shape[0]

7103

In [ ]:
round(((num_min_workers.shape[0]/df.shape[0])*100), 2)

21.81

In [ ]:
 # What country has the highest percentage of people that earn >50K?
df[df['salary'] == '>50K']['native-country'].value_counts().reset_index().iloc[0][0]

'United-States'

In [ ]:
round((df[df['salary'] == '>50K']['native-country'].value_counts(normalize=True).iloc[0])*100,2)

91.46

In [ ]:
 # Identify the most popular occupation for those who earn >50K in India.
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].iloc[0]

'Prof-specialty'